/*
Site name: Ustore
Site URL: localhost
Author: Web-lem
Author URL: http://web-lem.com
Description: Ustore - super smart shop.
Text-domain: ustore
Version: 1.0
*/
/*-----------------------------------------------------------------
[Table of contents] 
1. Content of external CSS-files
2. Body, fonts and typography
  2.1. Variables
    2.1.1. Colors
    2.1.2. Fonts
    2.1.3. Breackpoints
  2.2. Mixines
    2.2.1. Typography
    2.2.2. Responsive
  2.2. Universal selector styles (* {})
  2.3. Fonts
  2.4. Typograpghy
3. Tags settings
4. General styles (general styles for every repeat (and not repeat) element in the site. Not include paddings, margins etc.)
  4.1. Subscribe popup
  4.2. Login hover popup
  4.3. Wishlist and shopping cart popups
  4.4. Search field

  4.# Text in banners
  4.# Buttons
  4.#. General styles of product items
  4.#. Section titles and descriptions
  4.#. Quick popup
  4.#. Hover buttons
  4.#. Off-canvas
5. Custom styles
  5.0. Custom containters (Bootstrap 4)
  5.1. Active slide in category slider (Bootstrap slider) 
  5.2. Slick slider in categories (Slick)
  5.3. Tabs in product categories (reassignment Bootstrap 4 tabs properties)
6. Sections of page - index.html (styles of positioning elements in each specific section in the page) (firs nesting lvl. - section of page; second nesting lvl. - blocks in said section)
  6.1. Header
    6.1.1. Header-top
    6.1.2. Header-bottom
  6.2. Main banner
7. Responsive - index.html (indicate Responsive in this form for each page)
  7.1 Min-width: 1200px
  7.2 Max-width: 1200px
  7.3 Max-width: 992px
  7.4 Max-width: 768px
  7.5 Max-width: 576px
  7.6 Max-width: 480px
  7.7 Min-width: 320px and max-width: 400px
-----------------------------------------------------------------*/
/* 1. Content of external CSS-files */
/* 2. Body, fonts and typography */
/* 2.1. Variables */
/* 2.1.1. Colors */
/* 2.1.2. Fonts */
/* 2.2. Mixines */
/* 2.2.1. Typography */
/* 2.2.2. Utilits */
/* 2.2.2. Responsive */
/* 2.2. Universal selector styles (* {}) */
* {
  outline: none;
}
/* 2.3. Fonts */
/* Lato (latin) - 300 (Web-font) */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato-300-normal.woff2') format('woff2'), url('../fonts/lato-300-normal.woff') format('woff');
}
/* Lato (latin) - 400 (Web-font) */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v14-latin-regular.woff2') format('woff2'), url('../fonts/lato-v14-latin-regular.woff') format('woff');
}
/* Lato (latin) - 700 (Web-font) */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v14-latin-700.woff2') format('woff2'), url('../fonts/lato-v14-latin-700.woff') format('woff');
}
/* Lato (latin) - 900 (Web-font) */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v14-latin-900.woff2') format('woff2'), url('../fonts/lato-v14-latin-900.woff') format('woff');
}
/* Open sans (latin) - 400 (Web-font) */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/open-sans-v15-latin-regular.woff') format('woff');
  
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Open sans (latin) - 700 (Web-font) */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/open-sans-v15-latin-700.woff') format('woff');
  
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Icon font */
@font-face {
  font-family: 'Usmart-icon-font';
  src: url('../fonts/Usmart-icon-font.ttf?2bftyo') format('truetype'), url('../fonts/Usmart-icon-font.woff?2bftyo') format('woff'), url('../fonts/Usmart-icon-font.svg?2bftyo#Usmart-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Styles for icon font */
[class^="icon-font-"],
[class*=" icon-font-"] {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-font-"]::before,
[class*=" icon-font-"]::before,
[class^="icon-font-"]::after,
[class*=" icon-font-"]::after {
  font-family: 'Usmart-icon-font' !important;
  line-height: 1;
}
.icon-font-angle-arrow-pointing-to-right:before {
  content: "\e911";
}
.icon-font-angle-pointing-to-left:before {
  content: "\e912";
}
.icon-font-envelope-of-white-paper:before {
  content: "\e913";
}
.icon-font-cancel:before {
  content: "\e914";
}
.icon-font-substract:before {
  content: "\e915";
}
.icon-font-add:before {
  content: "\e916";
}
.icon-font-check-mark:before {
  content: "\e910";
}
.icon-font-bag:before {
  content: "\e907";
}
.icon-font-heart-solid:before {
  content: "\e900";
}
.icon-font-right-straight-arrow:before {
  content: "\e901";
}
.icon-font-tag-black-shape:before {
  content: "\e902";
}
.icon-font-angle-arrow-down:before {
  content: "\e903";
}
.icon-font-baseline-today-24px:before {
  content: "\e904";
}
.icon-font-star-regular:before {
  content: "\e905";
}
.icon-font-star-solid:before {
  content: "\e906";
}
.icon-font-angle-left-solid:before {
  content: "\e908";
}
.icon-font-angle-right-solid:before {
  content: "\e909";
}
.icon-font-caret-down-solid:before {
  content: "\e90a";
}
.icon-font-facebook-f-brands:before {
  content: "\e90b";
}
.icon-font-google-plus-logo:before {
  content: "\e90c";
}
.icon-font-heart-regular:before {
  content: "\e90d";
}
.icon-font-search:before {
  content: "\e986";
}
.icon-font-twitter-brands:before {
  content: "\e90f";
}
.icon-font-eye:before {
  content: "\e9ce";
}
.icon-font-cart:before {
  content: "\e93a";
}
.icon-font-bubble:before {
  content: "\e96b";
}
.icon-font-instagram:before {
  content: "\ea92";
}
.icon-font-linkedin2:before {
  content: "\eaca";
}
/* 2.4. Typograpghy */
/* Main font */
body {
  font: 16px/1.6 'Lato', 'Open Sans', sans-serif;
  color: #1c1a19;
}
/* Second font */
.section__description,
.custom-btn {
  font-family: 'Open Sans', sans-serif;
}
/* Colors - Gray */
.section__description,
.item__price,
.item__category,
footer p,
footer a,
footer span,
.latest-posts__date,
.latest-posts__comment,
.tags__item,
.icon-font-star-regular {
  color: #a4a4a4;
}
/* Colors - Red */
.prod-categories__tab:hover,
.prod-categories__tab:focus,
.icon-font-star-solid,
.item__price--new {
  color: #e74948;
}
/* Colors - White */
.header-bottom,
.main-banner,
.banners,
.insta-title,
.product-categories,
.subscribe__title,
.footer__contacts,
.footer__column-title,
.subscribe-popup,
.subscribe-popup input,
.subscribe-popup button {
  color: #ffffff;
}
/* Colors - White with opacity */
.header-top {
  color: rgba(255, 255, 255, 0.6);
}
/* Font weight - 900 */
.subscribe-popup__title {
  font-weight: 900;
}
/* Font weight - 700 */
.header-bottom .nav-link {
  font-weight: 700;
}
/* Upper case */
.subscribe-popup__title,
.subscribe-popup button,
.header-top__number-line,
.header-top__login,
.login-popup__button,
.header-bottom .nav-link {
  text-transform: uppercase;
}
/* 3. Tags settings */
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
  transition: .3s ease;
}
a:hover {
  color: initial;
  text-decoration: none;
}
a[href^="tel"] {
  transition: .2s ease;
}
a[href^="tel"]:hover,
a[href^="tel"]:focus {
  color: #000;
}
/* 4. General styles (general styles for every repeat (and not repeat) element in the site. Not include paddings, margins etc.) */
/* 4.1. Subscribe popup */
.subscribe-popup .modal-dialog {
  max-width: 100%;
}
.subsribe-popup-wrap {
  padding: calc(3.5vw);
  width: 70%;
  z-index: 1;
}
.subscribe-popup .modal-content {
  background: #e74948 url('../img/login-popup_obrizka.jpg') no-repeat;
  max-width: 40.5vw;
  margin: 0 auto 0;
  border: none;
  background-size: cover;
  background-position: center;
}
.subscribe-popup__title {
  font-size: 3rem;
  letter-spacing: 0.06rem;
  line-height: 1;
  margin-bottom: 1.2rem;
}
.subscribe-popup p {
  font-weight: 300;
}
.subscribe-popup form {
  display: flex;
  margin-bottom: 1.5rem;
}
.subscribe-popup input::-webkit-input-placeholder,
.subscribe-popup input::placeholder {
  color: #fff;
}
.subscribe-popup input {
  background-color: #ed7776;
  font-size: 0.813rem;
  border: none;
  padding: 0.7rem 1rem;
  width: 55%;
}
.subscribe-popup button {
  background-color: #000000;
  font-size: 0.875rem;
  letter-spacing: 0.022rem;
  border: none;
  padding: 0rem 1.5rem;
}
.subscribe-popup .close {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: transparent;
  text-shadow: none;
  transition: .3s ease;
}
.subscribe-popup form + span {
  font-size: 0.75rem;
  color: #ffcccc;
}
/* 4.2. Login hover popup */
/* Login popup */
.login-popup {
  border: 1px solid #e6e6e6;
  padding: 2em 2em 2em 2em;
  position: absolute;
  top: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  color: initial;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;
  z-index: 3;
}
.login-popup::before {
  content: '';
  position: absolute;
  top: -3%;
  width: calc(115%);
  height: 20px;
  left: -15%;
  z-index: -1;
}
.user-links_log-in-form:hover,
.user-links_log-in-form:focus {
  transition: .2s ease;
  opacity: 0.6;
  cursor: pointer;
}
/* Opening of login popup */
.header-top__login:hover ~ .login-popup,
.header-top__login:focus ~ .login-popup,
.login-popup:hover,
.login-popup:focus-within {
  visibility: visible;
  opacity: 1;
}
.login-popup__text-input {
  padding: 0.3em 1em 0.3em 1em;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  transition: .3s ease;
}
.login-popup__text-input:active,
.login-popup__text-input:focus {
  border: 1px solid #000000;
}
.checkbox-field {
  margin-bottom: 1rem;
}
[name="remember-me"]:focus {
  outline: auto;
}
.login-popup__link {
  text-decoration: underline;
  font-size: 1rem;
}
.login-popup__link:focus {
  background-color: lightgray;
}
.login-popup__button {
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1em 2.7em 0.8em 2.5em;
  font-size: 0.75rem;
  background-color: #e74948;
  color: #ffffff;
  border: none;
  transition: .3s ease;
  cursor: pointer;
}
.login-popup__button:hover,
.login-popup__button:focus {
  color: #ffffff;
  background-color: #000000;
}
.login-popup__button + span {
  text-align: center;
}
/* 4.3. Wishlist and shopping cart popups */
/* Main styles */
.shoping-cart a,
.vish-list a {
  text-decoration: none;
  transition: .2s ease;
}
.vish-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.7em;
  text-transform: uppercase;
  color: initial;
}
.shopping-cart__title,
.vish-list__title {
  font-size: 1.1rem;
  font-weight: 900;
}
.shopping-cart__item-list,
.vish-list__item-list {
  padding: 10px 0;
  border-top: none;
  border-bottom: 1px solid #eaeaea;
  max-height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.shopping-cart__item-list::-webkit-scrollbar,
.vish-list__item-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
}
.shopping-cart__item-list::-webkit-scrollbar-track,
.vish-list__item-list::-webkit-scrollbar-track {
  background-color: #e1e1e1;
  border-radius: 50px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.shopping-cart__item-list::-webkit-scrollbar-thumb,
.vish-list__item-list::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.shopping-cart__item,
.vish-list__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5em 3em 1.5em 1.5em;
}
.shopping-cart__item-image,
.vish-list__item-image {
  float: left;
  margin: 0 0.5em;
}
.shopping-cart__item-description,
.vish-list__item-description {
  text-align: left;
  margin-left: 1em;
  font-size: 1rem;
}
.shopping-cart__item-name,
.vish-list__item-name {
  display: block;
  margin-bottom: 0.5rem;
  color: initial;
}
.shopping-cart__item-delete-btn,
.vish-list__item-delete-btn {
  position: absolute;
  top: 20%;
  right: 5%;
  cursor: pointer;
  color: initial;
}
.shopping-cart__footer,
.vish-list__footer {
  padding: 5px 10px;
  text-align: center;
}
.shopping-cart__checkout-button,
.vish-list__vish-list-button {
  background-color: #e74948;
  border-color: 1px solid #e74948;
  color: #ffffff;
}
.shopping-cart__btn,
.vish-list__btn {
  display: block;
  margin: 5px 0;
  padding: 0.6rem;
  font-weight: 400;
  font-size: 0.8rem;
  transition: .2s ease;
  cursor: pointer;
  text-transform: uppercase;
}
.shopping-cart__item-quantity {
  color: #737373;
  font-size: 0.9rem;
}
.shopping-cart__item-quantity::after {
  content: 'x';
  margin-left: 0.2rem;
}
.shopping-cart__item-price {
  color: #737373;
}
.shopping-cart__total-price {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  color: initial;
}
.shopping-cart__total-quantity {
  font-size: 1rem;
}
.shopping-cart__subtotal-price {
  font-size: 1rem;
}
/* Hover effects */
.shopping-cart__item-name:hover,
.vish-list__item-name:hover,
.shopping-cart__item-name:focus,
.vish-list__item-name:focus {
  text-decoration: underline;
}
.shopping-cart__checkout-button:hover,
.vish-list__vish-list-button:hover,
.shopping-cart__checkout-button:focus,
.vish-list__vish-list-button:focus {
  background-color: #ed7675;
  color: #fff;
}
.header__middle .user-links__icon:focus,
.header__middle .vish-list__btn:focus,
.header__middle .shopping-cart__btn:focus {
  text-decoration: none;
}
/* Composite icon to shoping cart */
.header-bottom__icons-list .shoping-cart-composite-icon {
  position: relative;
  font-size: 1.2rem;
}
.header-bottom__icons-list .shoping-cart-composite-icon::after {
  content: '5';
  position: absolute;
  top: 50%;
  left: 50%;
  color: #e74948;
  font-size: 0.85rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.header-bottom__icons-list .shoping-cart-composite-icon:hover::after,
.header-bottom__icons-list .shoping-cart-composite-icon:focus::after {
  color: #ffffff;
}
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  max-width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #fff;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  padding: 60px 0 0 0;
  box-shadow: inset 1px 0 0 0px black;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 1;
}
.sidenav .closebtn:hover,
.sidenav .closebtn:focus {
  color: var(--main-blue);
}
.off-canvas-open {
  max-width: 30vw;
  padding: 60px 3rem 0.5rem 1.5rem;
  width: 100%;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}
/* 4.4. Search field */
/* Pseudoelement for transition cursor from search icon to form without blinking of form */
.search-field__button {
  position: relative;
  top: 0;
  right: 0;
  padding: 5px 5px;
  border: none;
  font-size: 1.0667rem;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  outline: none;
  transition: .3s ease;
}
.search-field__button:hover,
.search-field__button:focus {
  color: initial;
}
.search-field__button::after {
  content: '';
  width: 10rem;
  position: absolute;
  height: 4rem;
  bottom: -160%;
  left: -100%;
  pointer-events: none;
}
.search-field__button:hover::after {
  pointer-events: auto;
}
.search-field__toolip {
  position: absolute;
  top: 150%;
  right: 0;
  display: flex;
  padding: 1rem;
  background-color: #ffffff;
  white-space: nowrap;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: .3s ease;
}
.search-field__toolip::before {
  content: '';
  position: absolute;
  top: -11px;
  left: 32%;
  width: 0;
  height: 0;
  border: 10px solid #ffffff;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  filter: drop-shadow(0 0 1px #000000);
}
.search-field__toolip::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 25%;
  width: 40px;
  height: 4px;
  background-color: #ffffff;
}
.search-field__button:hover + .search-field__toolip,
.search-field__button:focus + .search-field__toolip,
.search-field__button:active + .search-field__toolip,
.search-field__toolip:hover,
.form-retention {
  visibility: visible;
  opacity: 1;
}
.search-field__area {
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  box-shadow: inset 0 0 5px 0 #ebebeb;
}
.search-field__popup-button {
  padding: 0.6rem 1rem;
  color: #ffffff;
  background-color: #e74948;
  border: 1px solid #e74948;
  cursor: pointer;
  transition: .3s ease;
}
.search-field__popup-button:focus {
  outline: none;
}
.search-field__popup-button:hover,
.search-field__popup-button:focus {
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
/* 5. Custom styles */
/* 6. Sections of page - index.html (styles of positioning elements in each specific section in the page) (firs nesting lvl. - section of page; second nesting lvl. - blocks in said section) */
/* 6.1. Header */
/* 6.1.1. Header-top */
.header-top {
  border-bottom: 1px solid rgba(230, 230, 230, 0.2);
}
.header-top__left {
  font-size: 0.75rem;
}
.header-top__number-line {
  font-size: 0.688rem;
  letter-spacing: 0.034rem;
}
.header-top__language-list,
.header-top__currency-list {
  height: 100%;
}
.header-top__language-button,
.header-top__currency-button {
  height: 100%;
  padding: 0;
  color: inherit;
  text-transform: uppercase;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(230, 230, 230, 0.2);
}
.header-top__language-button:hover,
.header-top__currency-button:hover,
.header-top__language-button:focus,
.header-top__currency-button:focus {
  outline: none;
}
.header-top__language-button::after,
.header-top__currency-button::after {
  margin-right: 1rem;
  margin-left: 1rem;
}
.header-top__left .dropdown-item {
  font-size: 0.75rem;
}
.dropdown-item.header-top__language-link::before,
.header-top__language-button.header-top__language-link::before {
  content: '';
  background-image: url('../img/Ustore_flags_and_payments_sprite.png');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  background-position-y: 65%;
  vertical-align: middle;
}
.lang-en::before {
  background-position-x: 2%;
}
.lang-fr::before {
  background-position-x: 15%;
}
.lang-ger::before {
  background-position-x: 28%;
}
.lang-it::before {
  background-position-x: 149.2%;
}
.lang-ua::before {
  background-position-x: 161%;
}
/* Header-top right */
.header-top__login {
  font-size: 0.6875rem;
  letter-spacing: 0.05em;
}
.header-top__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0;
}
.header-top__social {
  list-style: none;
  display: flex;
  margin: 0 0 0 1.4rem;
  padding: 0;
}
.header-top__social a {
  display: block;
  border: 1px solid rgba(230, 230, 230, 0.2);
  padding: 0.5rem 0.8rem;
  font-size: 0.75rem;
}
.header-top__social a:focus {
  color: initial;
}
/* 6.1.2. Header-bottom */
.header-bottom {
  margin-top: 1.2rem;
}
.header-bottom__logo {
  pointer-events: none;
  margin: 0;
}
.header-bottom .navbar-nav .nav-item .nav-link {
  position: relative;
  color: #ffffff;
  font-size: 0.8125rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.2rem;
}
.header-bottom .navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: .3s ease;
}
.header-bottom .navbar-nav .nav-item .nav-link:hover::after,
.header-bottom .navbar-nav .nav-item .nav-link:focus::after {
  width: 100%;
  left: 0;
}
.page-header {
  position: absolute;
  top: 0;
}
/* 6.2. Main banner */
.main-banner {
  height: 100vh;
}
.main-banner__slide {
  height: 100%;
  background-color: #e74948;
  background-image: url('../img/main_banner_bg_1-2.png'), url('../img/main_banner_bg_1-3.png'), url('../img/main_banner_bg_1-1.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left bottom, right bottom, center top;
  background-size: 76vh, 70vh, contain;
}
/* 7. Responsive - index.html (indicate Responsive in this form for each page) */
/* 7.1 Min-width: 1200px */
.test {
  position: fixed;
  top: 10px;
  left: 10px;
  color: tomato;
  z-index: 99999999;
  pointer-events: none;
}
@media only screen and (min-width: 1200px) {
  .test:after {
    content: '@media (min-width: 1200px [col-xl]) >>>';
  }
}
@media only screen and (max-width: 1199.98px) {
  .test:after {
    content: '@media (max-width: 1200px [col-lg])';
  }
  .subscribe-popup .modal-content {
    max-width: 60vw;
  }
  .sidenav {
    margin-top: 3.5rem;
  }
  .off-canvas-open {
    max-width: 40vw;
  }
}
@media only screen and (max-width: 991.98px) {
  .test:after {
    content: '@media (max-width: 992px [col-md])';
  }
  .subscribe-popup .modal-content {
    max-width: 70vw;
  }
}
@media only screen and (max-width: 767.98px) {
  .test:after {
    content: '@media (max-width: 768px [col-sm])';
  }
  .subscribe-popup .modal-content {
    max-width: 80vw;
  }
}
@media only screen and (max-width: 575.98px) {
  .test:after {
    content: '@media (max-width: 576px [col-])';
  }
  .subscribe-popup .modal-content {
    max-width: 90vw;
  }
}
@media only screen and (max-width: 480px) {
  .test:after {
    content: '@media (max-width: 480px)';
  }
  .subscribe-popup__title {
    font-size: 2.5rem;
  }
  .subsribe-popup-wrap {
    width: 100%;
  }
  .subscribe-popup .modal-content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media only screen and (min-width: 320px) and (max-width: 400px) {
  .test:after {
    content: '@media min-width: 320px and @max-width: 400px)';
  }
  .subscribe-popup .modal-content {
    background-position: 65%;
  }
}
